# Server
PORT=your_port
NODE_ENV=your_node_env


MONGODB_URI=your_mongodb_uri

# Auth
JWT_SECRET=your_super_secret_key
JWT_EXPIRES_IN=7d


# Twilio Configuration
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number

API_BASE_URL=http://localhost:your_port/api